<h2 mat-dialog-title>View Student Details</h2>
<mat-dialog-content class="mat-typography">
  <div class="row p-5">
    <div class="col-md-12 mb-5">
      <img
        class="profile-picture"
        src="assets/images/swan_beauty_nature_264533.jpg"
      />
    </div>
    <div class="col-md-3">
      <label for="dropdown1">Name:</label>
      <p>{{ studentsDetails?.name }}</p>
    </div>
    <div class="col-md-3 form-group">
      <label for="exampleFormControlTextarea1">Address</label>
      <p>{{ studentsDetails?.address }}</p>
    </div>

    <div class="col-md-3">
      <label for="dropdown2">Section:</label>
      <p>{{ studentsDetails?.section }}</p>
    </div>

    <div class="col-md-3">
      <label for="dropdown2">Class:</label>
      <p>{{ studentsDetails?.class }}</p>
    </div>

    <div class="col-md-3">
      <label for="dropdown2">Year:</label>
      <p>{{ studentsDetails?.year }}</p>
    </div>

    <div class="col-md-3">
      <label for="dropdown1">Grade for subject 1:</label>
      <p>{{ studentsDetails?.gradeForSubject1 }}</p>
    </div>
    <div class="col-md-3">
      <label for="dropdown1">Grade for subject 2:</label>
      <p>{{ studentsDetails?.gradeForSubject2 }}</p>
    </div>
    <div class="col-md-3">
      <label for="dropdown1">Grade for subject 3:</label>
      <p>{{ studentsDetails?.gradeForSubject3 }}</p>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button type="button" class="btn btn-secondary mr-5" mat-dialog-close>
    Back
  </button>
</mat-dialog-actions>
